body {
	background-color:#0E0F2E;
	color:white;
}

img {
  flex-direction: flex-start;
  max-width: 30%;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}


header{
    overflow: hidden;
}
 
#top-header{
    text-align: right;
    height: 60px;
    flex-wrap: wrap;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: rgba(88, 139, 207, 0.25);
    
}
button{
    background-color: orange;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border-radius: 2px;
    border: none;
}

.titre{
    font-size: 51px;
}

#top_image{
    background-image: 
    url("../ASSETS/IMAGES/homme_content.png");
    background-size: 50%;
    ù
}