body {
	background-color:#0E0F2E;
	color:white;
}

.parent {
  width: 30%;
  height: 30vh;
  overflow: hidden;
  display: flex;

}

img {
  flex-direction: flex-start;
  max-width: 100%;

}



header{
    overflow: hidden;
}
 
#top-header{
    text-align: right;
    height: 60px;
    flex-wrap: wrap;
}

a{
    color: white;
    text-decoration: none;
}
