body {
	background-color:#0E0F2E;
	color:white;
    font-family: 'Konkhmer Sleokchher', 'consolas', 'sans-serif';
    margin: 0px;
}





header{
    overflow: hidden;
}
 
#top-header{
    text-align: right;
    height: 60px;
    flex-wrap: wrap;
}

a{
    color: white;
    text-decoration: none;
}


a:hover{
    background-color: rgba(88, 139, 207, 0.25);
    
}
button{
   
    background-color: orange;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border-radius: 2px;
    border: none;
}
button:hover{
    background-color: yellow;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: black;
    border-radius: 2px;
    border: none;
}




.titre{
    font-size: 51px;
}

#top_image{
    background-image: 
    url("../ASSETS/IMAGES/homme_content.png");
    background-size: 50%;
}

.touteslesimage { 
    display: flex;
    justify-content: center;
    align-items: center; /* Centrer verticalement le contenu */
    margin: 45px 0; /* Marge autour du conteneur */

}

.touteslesimage img {
    margin: 0 10px;
}

.tout_les_texte{
    
    display: flex;
    justify-content: center;
    margin-left: -9%;

    margin: 4px 0;
    margin: left;

    
    
    
}





footer{
    background-color: #0400188b;
    margin: 0px;

}


.copyright{
    align-self: flex-end;
}

.zero_un{
    display: flex;
    flex-direction: row;
    align-items: start

    ;
}

#zero{

    margin-right: 10px;
    color: purple;
    font-size: 32px;
    font-weight: bold;

}
.pc_incroyable{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.incroyable{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

#a_gauche{
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: -20px;
}
.description{
    color: grey;
}



.partie3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.image_watch_dogs {
    margin: 10px;
    display: flex;
}
.orangevert {
    margin: 10px;
}
.bleuetviolet{
    margin:10px;
}
.gbop {
    
    display: flex;
    flex-wrap: wrap;
}

.carrevert {
    width: 268px; 
    height: 165px;
    background-color: #18a15f; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}
.carrebleu {
    width: 268px; 
    height: 165px;
    background-color: #3724a0; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 10 px;
    text-align: center;
    border-radius: 5px;
}
.carreorange {
    width: 268px; 
    height: 165px;
    background-color: #ec9123; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}
.carreviolet {
    width: 268px; 
    height: 165px;
    background-color: #b91ca8; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
    text-align: center;
    border-radius: 5px;
}




.wd{
    border-radius: 15px;
}

.equipe {
    text-align: center;
}
.delimiter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.kln {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.khalid{
    background-color:#0400188b ;
    margin: 1px;
    display: flex;
    
}






footer{
    background-color: rgba(13,11,38,255);
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.orange{
    color: rgba(236,145,35,255);
}

.white{
    color: rgb(255, 255, 255, .5);
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
}

.footer_list{
    list-style-type: square ;
    color: rgba(236,145,35,255);
}

.logo_footer{
    display: flex;
    margin-left: 21%;
}
.logo_footer > div{
    margin-right: 1%;
    transition: transform .9s;
}

.logo_footer > div:hover{
    transform: scale(1.5);
    }

.copyright{
    margin-left: 21%;
}



.chat-box {
    position: fixed;
    bottom: 2px;
    right: 2px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #473f2d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    background-color: #0E0F2E;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: scroll;
}

#message-input {
    padding: 10px;
    border: none;
    border-top: 1px solid #b90000;
    width: 100%;

}

#send-message {
    background-color: #0E0F2E;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#close-chat {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
