body {
  background-color:#0E0F2E;
  color:white;
  font-family:'Poppins';
}
main {
    margin-top: 75px; /* AJOUT D'ESPACE ENTRE LES ÉLÉMENTS */
}
/* ---------------- FONT/SETUP ----------------------- */
@font-face {
  font-family: "Poppins";
  src: url("FONTS/POPPINS/Poppins-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("FONTS/POPPINS/Poppins-Bold.ttf");
  font-weight: bold;
}/* -------------------------------------------------- */










/* -------------------------------- HEADER --------------------------------------- */
header {
    position: fixed; /* LE HEADER RESTE EN HAUT DE LA PAGE EN SCROLLANT */
    width: 100%;
    top:0;
    left: 0;
    background-color: rgba(14, 14, 47, 0.8);
    overflow: hidden;
    padding:3vh;
  }
/* ---------------- HEADER SETUP --------------------------- */
*,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-nav { /* CLASSE NAVIGATION HEADER (ÉLÉMENTS DE DROITE)*/
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;

  width: 50vw; /* ESPACEMENT ÉLÉMENTS NAV */
  min-width: 15vh; /* LARGEUR TOTALE DE NAV */
}

.header-left-element { /* ÉLÉMENT DE GAUCHE DU HEADER */
  display:flex;
  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-alignment { /* ALIGNEMENT ET POSITION DES ÉLÉMENTS DE GAUCHE/DROITE */
  display: flex;
  justify-content: space-between;
  margin-right:10vh;
  margin-left:10vh;

  flex-wrap: nowrap;
}

/* ---------------- HOVER ANIMATION --------------------------- */
.header-a { 
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight:bold;
  text-decoration: none;
  color:white;
  font-size: 13px;
  letter-spacing: 0.5px;

  white-space: nowrap;
}

.header-a:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #EA9033;
  transition: 0.3s;
}

.header-a:before {
  right: 0;
  top: -4.4vh;
}

.header-a:hover {
  color: #EA9033;
}

.header-a:hover:before {
  width: 100%;
}/* -------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */









/* -------------------------------- IMG BANNER ----------------------------------------- */
.top-banner-container { /* BANNIÈRE AVEC IMAGE DU HAUT */
  position: relative;
  text-align: center;
}

.top-banner-centered { /* TEXTE CENTRÉ SUR IMAGE */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  font-size: 40px;
}/* ------------------------------------------------------------------------------------- */










.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* 100+(nombre de cartes sur ligne * 100) */
    width: 600px;
}

.box{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.textsbox{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: gray;
}

h3{
    margin-right: 10px;
}

h2{
    color:orange;
    margin-top: 100px;
    margin-bottom: 30px;
}

input{
    background-color: rgb(38, 39, 69);
    border-radius: 2px;
    border: none;
    color: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    height: 32px;
    width: 512px;
    text-align: left;
    font-size: 14px;
}

button{
    background-color: orange;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 2px;
    border: none;
    margin-bottom: 15px;
    width: 256px;
}
button:hover{
    background-color:#FFB43C;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    border: none;
    margin-bottom: 15px;
}

.image-container div {
    margin: 0 9px;
}

.image-container img {
    max-width: 90%;
    height: auto;
}



.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

#lastheader{
    padding-bottom:  50px;
}
.titre{
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 75px;
}

.card{
    width: 100px;
    margin: 10px;
}







/* -------------------------------- FOOOTER --------------------------------------------- */
footer {
  background-color: rgba(13,11,38,255);
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-top: 20px;
  padding:20px; /* ESPACE EN HAUT DU FOOTER */
}

footer img {
  border-radius: 7%;
  scale:85%;
}

.footer-description{
    color: #CECEE8;
    display: flex;
    text-decoration: none;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    line-height: 2.2;
}

.footer-logos {
  display:flex;
  align-items: flex-start;
}
.footer-logos > div{
    transition: transform .25s;
}

.footer-logos > div:hover{
    transform: scale(1.2);
    }

.copyright {
  margin-top: 70px;
  background-color: rgba(11,11,38);
  color:#CECEE8;
}

.copyright p {
  font-size: 0.9em;
  text-align: left;
}/* ------------------------------------------------------------------------------------- */
