body {
  background-color: #0e0f2e;
  color: white;
  font-family: "Poppins";
}
main {
  margin-top: 75px; /* AJOUT D'ESPACE ENTRE LES ÉLÉMENTS */
}
/* ---------------- FONT/SETUP ----------------------- */
@font-face {
  font-family: "Poppins";
  src: url("FONTS/POPPINS/Poppins-Light.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("FONTS/POPPINS/Poppins-Bold.ttf");
  font-weight: bold;
} /* -------------------------------------------------- */

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #333; /* Fond sombre */
  color: #fff; /* Texte blanc */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#table{
  display: flex;
  justify-content: center;
}

thead {
  background-color: #ea9033; /* En-tête bleu */
  color: #fff;
}

th, td {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #555; /* Lignes de séparation plus foncées */
  border-right: 1px solid #555; /* Bordure à droite pour les cellules */
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #444; /* Lignes paires plus sombres */
}

tr:hover {
  background-color: #555; /* Survol plus foncé */
}



/* -------------------------------- FOOOTER --------------------------------------------- */
footer {
  background-color: rgba(13, 11, 38, 255);
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-top: 20px;
  padding: 20px; /* ESPACE EN HAUT DU FOOTER */
}

footer img {
  border-radius: 7%;
  scale: 85%;
}

.footer-description {
  color: #cecee8;
  display: flex;
  text-decoration: none;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  line-height: 2.2;
}

.footer-logos {
  display: flex;
  align-items: flex-start;
}
.footer-logos > div {
  transition: transform 0.25s;
}

.footer-logos > div:hover {
  transform: scale(1.2);
}

.copyright {
  margin-top: 70px;
  background-color: rgba(11, 11, 38);
  color: #cecee8;
}

.copyright p {
  font-size: 0.9em;
  text-align: left;
} /* ------------------------------------------------------------------------------------- */

input {
  background-color: rgb(38, 39, 69);
  border-radius: 2px;
  border: none;
  color: white;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
  text-align: left;
  font-size: 14px;
}

.searchbar {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  background-color: #ea9033;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 2px;
  border: none;
  align-self: flex-start;
  margin-right: 16px;
}
.search:hover {
  background-color: #ffb43c;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 2px;
  border: none;
}
